<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculateur moyenne ENSEIRB</title>
    <meta name="author" content="Alexis">
    <meta name="creator" content="Alexis">
    <meta name="robots" content="index">
    <meta name="description" content="Calculez facilement et rapidement votre moyenne générale par semestre et partagez-la à vos amis">
    <meta name="keywords" content="enseirb, ENSEIRB, matmeca, MATMECA, ENSEIRB-MATMECA, eirb, mmk, clalculateur, moyenne, inp, ingénieur, bordeaux, école, ingénieur, informatique, télécom, électronique, see, ri">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico"/>

    <!-- Apparence réseaux sociaux -->
    <meta property="og:title" content="ENSEIRB - Calculez votre moyenne facilement" />
    <meta property="og:description" content="Calculez facilement et rapidement votre moyenne générale par semestre et partagez-la à vos amis">
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Moyenne ENSEIRB" />
    <!-- <meta property="og:url" content="https://calculateur-moyenne-cpbx.000webhostapp.com" /> -->
    <!-- <meta property="og:image" content="https://calculateur-moyenne-cpbx.000webhostapp.com/images/screenshots/screenshot-7.png" /> -->
    <!-- <meta property="twitter:domain" content="calculateur-moyenne-cpbx.000webhostapp.com"> -->
    <!-- <meta property="twitter:url" content="https://calculateur-moyenne-cpbx.000webhostapp.com/"> -->
    <meta name="twitter:title" content="ENSEIRB - Calculez votre moyenne facilement">
    <meta name="twitter:description" content="Calculez facilement et rapidement votre moyenne générale par semestre et partagez-la à vos amis">
    <!-- <meta name="twitter:image" content="https://calculateur-moyenne-cpbx.000webhostapp.com/images/screenshots/screenshot-7.png"> -->
    
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://kit.fontawesome.com/775facc0e6.js" crossorigin="anonymous"></script>

    <meta name="format-detection" content="telephone=no">
    <!-- <meta name="google-site-verification" content="" /> -->

    <!-- PWA support -->
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="application-name" content="Moyenne ENSEIRB">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#c79000">
    <!-- PWA ios support -->
    <meta name="apple-mobile-web-app-title" content="Moyenne ENSEIRB">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#c79000">
    <link rel="apple-touch-icon" sizes="16x16" type="image/png" href="/images/ios/16.png"/>
    <link rel="apple-touch-icon" sizes="20x20" type="image/png" href="/images/ios/20.png"/>
    <link rel="apple-touch-icon" sizes="29x29" type="image/png" href="/images/ios/29.png"/>
    <link rel="apple-touch-icon" sizes="32x32" type="image/png" href="/images/ios/32.png"/>
    <link rel="apple-touch-icon" sizes="40x40" type="image/png" href="/images/ios/40.png"/>
    <link rel="apple-touch-icon" sizes="50x50" type="image/png" href="/images/ios/50.png"/>
    <link rel="apple-touch-icon" sizes="57x57" type="image/png" href="/images/ios/57.png"/>
    <link rel="apple-touch-icon" sizes="58x58" type="image/png" href="/images/ios/58.png"/>
    <link rel="apple-touch-icon" sizes="60x60" type="image/png" href="/images/ios/60.png"/>
    <link rel="apple-touch-icon" sizes="64x64" type="image/png" href="/images/ios/64.png"/>
    <link rel="apple-touch-icon" sizes="72x72" type="image/png" href="/images/ios/72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" type="image/png" href="/images/ios/76.png"/>
    <link rel="apple-touch-icon" sizes="80x80" type="image/png" href="/images/ios/80.png"/>
    <link rel="apple-touch-icon" sizes="87x87" type="image/png" href="/images/ios/87.png"/>
    <link rel="apple-touch-icon" sizes="100x100" type="image/png" href="/images/ios/100.png"/>
    <link rel="apple-touch-icon" sizes="114x114" type="image/png" href="/images/ios/114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" type="image/png" href="/images/ios/120.png"/>
    <link rel="apple-touch-icon" sizes="128x128" type="image/png" href="/images/ios/128.png"/>
    <link rel="apple-touch-icon" sizes="144x144" type="image/png" href="/images/ios/144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" type="image/png" href="/images/ios/152.png"/>
    <link rel="apple-touch-icon" sizes="167x167" type="image/png" href="/images/ios/167.png"/>
    <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/images/ios/180.png"/>
    <link rel="apple-touch-icon" sizes="192x192" type="image/png" href="/images/ios/192.png"/>
    <link rel="apple-touch-icon" sizes="256x256" type="image/png" href="/images/ios/256.png"/>
    <link rel="apple-touch-icon" sizes="512x512" type="image/png" href="/images/ios/512.png"/>
    <link rel="apple-touch-icon" sizes="1024x1024" type="image/png" href="/images/ios/1024.png"/>
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2048-2732.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2732-2048.jpg" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1668-2388.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2388-1668.jpg" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1536-2048.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2048-1536.jpg" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1668-2224.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2224-1668.jpg" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1620-2160.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2160-1620.jpg" media="(device-width: 810px) and (device-height: 1080px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1290-2796.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2796-1290.jpg" media="(device-width: 430px) and (device-height: 932px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1179-2556.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2556-1179.jpg" media="(device-width: 393px) and (device-height: 852px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1284-2778.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2778-1284.jpg" media="(device-width: 428px) and (device-height: 926px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1170-2532.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2532-1170.jpg" media="(device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1125-2436.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2436-1125.jpg" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1242-2688.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2688-1242.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-828-1792.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1792-828.jpg" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1242-2208.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-2208-1242.jpg" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-750-1334.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1334-750.jpg" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-640-1136.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)">
    <link rel="apple-touch-startup-image" href="/images/launch_images/apple-splash-1136-640.jpg" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape)">
</head>
<body lang="fr">
    <div id="page">
        <div id="share-bloc-haut" class="share-bloc" :class="shareClass()" @click="shareMoyenne()">
            <span id="share-text">Partager</span>
            <i class="fa-solid fa-share share-icon"></i>
        </div>
        <div id="semestre-conteiner">
            <label for="semestre-select">Semestre</label>
            <select v-model="semestre_selectionne" name="semestre" id="semestre-select">
                <option v-for=" semestre in semestres ">{{ semestre }}</option>
            </select>
        </div>
        <div id="filiere-conteiner" v-if="semestre_selectionne != 'Total'">
            <label for="filiere-select">Filière</label>
            <select v-model="filiere_apparente" name="filiere" id="filiere-select">
                <option v-for=" filiere in getFilieres() ">{{ filiere }}</option>
            </select>
        </div>
        <div class="matieres-conteiner">
            <div class="ue" v-for=" (matiereList, ueName) in semData()[this.filiere_apparente] " :key="ueName" >
                <h3> {{ ueName }} : <strong>{{ calculMoyenneUe(matiereList) }}</strong> <span id="emoji">{{ emoji(calculMoyenneUe(matiereList)) }}</span></h3>
                <div class="matiere" v-for=" matiere in matiereList " >
                    <label :for="clean(matiere.nom)+'-input'"> {{ matiere.nom }} </label>
                    <input v-model.number="matiere.note" type="number" class="note-input" :class="valideInputClass(matiere.note)" :name="'note de '+clean(matiere.nom)" :id="clean(matiere.nom)+'-input'" min="0" max="20" step="0.5" autocomplete="off">
                    <span v-if="valideSaisieNote(matiere.note)" class="note-coef">coef&nbsp;{{matiere.coef}}</span>
                    <span v-else class="invalid-note">Note non valide</span>
                </div>
            </div>
        </div>
        <div id="total" v-if="semestre_selectionne == 'Total'">
            <h3 class="annee-result">Première année : {{ calculMoyenneAnnee(1) }}</h3>
            <div class="semestre" v-for=" sem in total ">
                <div class="alinea" v-if="sem.nom.endsWith(1) || sem.nom.endsWith(2)">
                    <label :for="clean(sem.nom)+'-input'"> {{ sem.nom }} </label>
                    <input v-model.number="sem.note" type="number" class="note-input" :class="valideInputClass(sem.note)" :name="'moyenne du '+clean(sem.nom)" :id="clean(sem.nom)+'-input'" min="0" max="20" step="0.1" autocomplete="off">
                    <span v-if="!valideSaisieNote(sem.note)" class="invalid-note">Note non valide</span>
                </div>
            </div>
            <h3 class="annee-result">Deuxième année : {{ calculMoyenneAnnee(2) }}</h3>
            <div class="semestre" v-for=" sem in total " >
                <div class="alinea" v-if="sem.nom.endsWith(3) || sem.nom.endsWith(4)">
                    <label :for="clean(sem.nom)+'-input'"> {{ sem.nom }} </label>
                    <input v-model.number="sem.note" type="number" class="note-input" :class="valideInputClass(sem.note)" :name="'moyenne du '+clean(sem.nom)" :id="clean(sem.nom)+'-input'" min="0" max="20" step="0.1" autocomplete="off">
                    <span v-if="!valideSaisieNote(sem.note)" class="invalid-note">Note non valide</span>
                </div>
            </div>
            <h2 class="moyenne">Total : <strong>{{ calculMoyenneAnnee() }}</strong> <span id="emoji">{{ emoji(calculMoyenneAnnee()) }}</span></h2>
        </div>
        <div id="result-conteiner" v-if="semestre_selectionne != 'Total'">
            <h2 class="moyenne">Votre moyenne : <strong>{{ calculMoyenne() }}</strong> <span id="emoji">{{ emoji(moyenne) }}</span></h2>
        </div>
        <div id="share-bloc-bas" class="share-bloc" v-if="sharable && (moyenne || moyenne === 0)" @click="shareMoyenne()">
            <span id="share-text">Partager</span>
            <i class="fa-solid fa-share share-icon"></i>
        </div>
        <div id="save-data">
            <input type="checkbox" id="save-data-checkbox" name="save-data-checkbox" v-model="save_data" autocom plete="on">
            <label for="save-data-checkbox">Garder les notes en mémoire</label>
        </div>
    </div>
    <footer>Créé avec amour par <a target="_blank" href="https://www.youtube.com/watch?v=EZEfN5z8Mlg&t=88s" id="gigachad">Alexis</a> | Infos basées sur <a id="source" target="_blank" href="https://ccc.bordeaux-inp.fr/syllabus/index.php?annee=2023&mode=consultation&chemin=74369&langue=1">cette source</a></footer>

    <script>
        let selectedSemestre = localStorage.semestre || 'Semestre 5';
        const urlParams = new URLSearchParams(window.location.search);
        const semestreParam = urlParams.get('semestre')
        const selectedSemestreNumber = parseInt(semestreParam);
        if (!isNaN(selectedSemestreNumber) && selectedSemestreNumber >= 5 && selectedSemestreNumber <= 10) {
            selectedSemestre = `Semestre ${selectedSemestreNumber}`;
            localStorage.semestre = selectedSemestre;
            window.history.replaceState(null, null, window.location.origin)
        } else if (semestreParam && semestreParam.toLowerCase() == 'total') {
            selectedSemestre = 'Total';
            localStorage.semestre = selectedSemestre;
            window.history.replaceState(null, null, window.location.origin)
        }
        const app = Vue.createApp({
            data(){
                return {
                    save_data: localStorage.save_data || true,
                    init_done: false,
                    moyenne: '',
                    sharable: 'share' in navigator,
                    annees: ['1A', '2A', '3A'],
                    semestres: ['Semestre 5', 'Semestre 6', 'Semestre 7', 'Semestre 8', 'Semestre 9', 'Semestre 10'],
                    semestre_selectionne: selectedSemestre,
                    filiere_utilisateur: localStorage.filiere_utilisateur || '',
                    filiere_apparente: localStorage.filiere_apparente || '',
                    all_filieres: [],
                    equiv_filieres: {geologie: 'Bio', mp: 'MPC', pc: 'MPC'},
                    filieres: ['Informatique', 'Télécom', 'Matmeca', 'Électronique', 'SEE', 'RI'],
                    "Semestre 5": {
                        "Informatique": {
                            "Algorithmique et mathématiques 1": [
                                {nom: "Initiation à l'algorithmique", note: "", coef: 2},
                                {nom: "Structures arborescentes", note: "", coef: 2},
                                {nom: "Traitement de l'Information", note: "", coef: 1.5},
                                {nom: "Théorie de l'information", note: "", coef: 1.5},
                                {nom: "Probabilités et statistiques", note: "", coef: 2.5},
                                {nom: "Logique et preuve", note: "", coef: 2},
                            ],
                            "Programmation et environnement informatique 1": [
                                {nom: "Environnement de travail", note: "", coef: 3},
                                {nom: "Structure des ordinateurs", note: "", coef: 3},
                                {nom: "Programmation impérative 1", note: "", coef: 4},
                            ],
                            "Projet de Programmation": [
                                {nom: "Projet d'algorithmique et de programmation", note: "", coef: 5},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais", note: "", coef: 1.5},
                                {nom: "LV2", note: "", coef: 1},
                                {nom: "Activité Physique Sportive et Artistique", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 1/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "Télécom": {
                            "Informatique et Réseaux, niveau 1": [
                                {nom: "Systèmes d'exploitation", note: "", coef: 4},
                                {nom: "Algorithmique et structure de données", note: "", coef: 4},
                                {nom: "Introduction aux réseaux", note: "", coef: 3},
                                {nom: "Programmation impérative", note: "", coef: 4},
                            ],
                            "Mathématiques de l'ingénieur et signal": [
                                {nom: "Electronique de communications", note: "", coef: 1.5},
                                {nom: "Signaux continus", note: "", coef: 3.5},
                                {nom: "Probabilités", note: "", coef: 3.5},
                                {nom: "Optimisation", note: "", coef: 1.5},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais", note: "", coef: 1.5},
                                {nom: "LV2", note: "", coef: 1},
                                {nom: "Activité Physique Sportive et Artistique", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 1/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "Matmeca": {
                            "Mécanique I": [
                                {nom: "Travaux pratiques de Mécanique", note: "", coef: 2},
                                {nom: "Mécanique des milieux continus et déformables - Introduction & Fluides", note: "", coef: 2},
                                {nom: "Mécanique des Systèmes de Solides", note: "", coef: 3},
                                {nom: "Mécanique des Milieux Continus Déformables - Résistance des Matériaux I", note: "", coef: 2},
                            ],
                            "Mathématiques I": [
                                {nom: "Equations Différentielles", note: "", coef: 2.5},
                                {nom: "Calcul Différentiel", note: "", coef: 2.5},
                            ],
                            "Calcul scientifique I": [
                                {nom: "Analyse Numérique", note: "", coef: 4.5},
                                {nom: "Calcul scientifique en Fortran 90  - I", note: "", coef: 4.5},
                                {nom: "Travail Etude & Recherche - I", note: "", coef: 2},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais", note: "", coef: 1.5},
                                {nom: "LV2", note: "", coef: 1},
                                {nom: "Activité Physique Sportive et Artistique", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 1/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "Électronique": {
                            "Mathématiques 1/ Physique 1": [
                                {nom: "Techniques mathématiques pour l'ingénieur 1", note: "", coef: 2.5},
                                {nom: "Probabilité", note: "", coef: 1.5},
                                {nom: "Electromagnétisme", note: "", coef: 1.5},
                                {nom: "Physique pour l'électronique", note: "", coef: 1.5},
                            ],
                            "Electronique générale 1": [
                                {nom: "Electronique générale", note: "", coef: 3},
                                {nom: "Projet/Travaux pratiques", note: "", coef: 3},
                                {nom: "Circuits et systèmes I", note: "", coef: 3},
                            ],
                            "Electronique numérique/Informatique": [
                                {nom: "Logique combinatoire et logique séquentielle", note: "", coef: 3},
                                {nom: "Architecture de base d'un processeurs", note: "", coef: 2},
                                {nom: "Unix - Langage C", note: "", coef: 4},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais", note: "", coef: 1.5},
                                {nom: "LV2", note: "", coef: 1},
                                {nom: "Activité Physique Sportive et Artistique", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 1/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "SEE": {
                            "Mathématiques / Physique (Mise à niveau)": [
                                {nom: "Mathématiques Mise à niveau", note: "", coef: 0.45},
                                {nom: "Physique pour l'électronique", note: "", coef: 0.2},
                                {nom: "Physique de la propagation", note: "", coef: 0.2},
                                {nom: "Probabilités et statistiques", note: "", coef: 0.15},
                            ],
                            "Électronique numérique et analogique (mise à niveau)": [
                                {nom: "Electronique Analogique Mise à niveau", note: "", coef: 0.5},
                                {nom: "Électronique Numérique Mise à niveau", note: "", coef: 0.5},
                            ],
                            "Informatique": [
                                {nom: "Introduction à l'algorithmique", note: "", coef: 0.25},
                                {nom: "Introduction à la programmation en C", note: "", coef: 0.25},
                                {nom: "Introduction aux systèmes d'exploitation - application UNIX", note: "", coef: 0.25},
                                {nom: "Projet programmation en C", note: "", coef: 0.25},
                            ],
                            "Culture de l'entreprise et langue anglaise - S05": [
                                {nom: "Analyse fonctionnelle", note: "", coef: 0.25},
                                {nom: "Anglais - S05", note: "", coef: 0.25},
                                {nom: "Développement durable et responsabilité sociétale", note: "", coef: 0.1},
                                {nom: "Intégrer l'entreprise", note: "", coef: 0.4},
                            ],
                            "Compétences développées en entreprise": [
                                {nom: "Compétences développées en entreprise lors du", note: "", coef: 1}
                            ]
                        },
                        "RI": {
                            "Sciences de l'ingénieur 1": [
                                {nom: "Outils mathématiques et physiques utiles à l'ingénieur R&I", note: "", coef: 0.7},
                                {nom: "Logique et mathématiques discrètes", note: "", coef: 0.3},
                            ],
                            "Réseaux": [
                                {nom: "Introduction aux réseaux", note: "", coef: 0.4},
                                {nom: "Architecture TCP/IP", note: "", coef: 0.6},
                            ],
                            "Informatique 1": [
                                {nom: "Introduction à l'environnement UNIX", note: "", coef: 0.1},
                                {nom: "Introduction à l'algorithmique", note: "", coef: 0.3},
                                {nom: "Introduction à la programmation en C", note: "", coef: 0.3},
                                {nom: "Langages de script et python", note: "", coef: 0.3},
                            ],
                            "Culture de l'entreprise et langue anglaise - S05": [
                                {nom: "Analyse fonctionnelle", note: "", coef: 0.25},
                                {nom: "Anglais - S05", note: "", coef: 0.25},
                                {nom: "Développement durable et responsabilité sociétale", note: "", coef: 0.1},
                                {nom: "Intégrer l'entreprise", note: "", coef: 0.4},
                            ]
                        }
                    },
                    "Semestre 6" : {
                        "Informatique": {
                            "Algorithmique et mathématiques 2": [
                                {nom: "Algorithmique de graphes", note: "", coef: 3},
                                {nom: "Automates finis et applications", note: "", coef: 2},
                                {nom: "Algorithmique numérique", note: "", coef: 3},
                                {nom: "Recherche Opérationnelle", note: "", coef: 2},
                            ],
                            "Programmation et environnement informatique 2": [
                                {nom: "Programmation fonctionnelle", note: "", coef: 3},
                                {nom: "Programmation impérative 2 et développement logiciel", note: "", coef: 3},
                                {nom: "Atelier Algorithme et Programmation", note: "", coef: 2},
                                {nom: "Introduction aux réseaux", note: "", coef: 2},
                            ],
                            "Projets 2": [
                                {nom: "Projet de programmation impérative", note: "", coef: 2.5},
                                {nom: "Projet de programmation fonctionnelle", note: "", coef: 2.5},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais S6", note: "", coef: 1.5},
                                {nom: "LV2  S6", note: "", coef: 1},
                                {nom: "Activités Physiques Sportives et artistiques (S6)", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 2/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "Télécom": {
                            "Informatique et Réseaux": [
                                {nom: "Programmation Web", note: "", coef: 2.5},
                                {nom: "Projet programmation", note: "", coef: 2.5},
                                {nom: "Les Réseaux Internet", note: "", coef: 5},
                            ],
                            "Signal et communications": [
                                {nom: "Processus et signaux aléatoires", note: "", coef: 4},
                                {nom: "Communications numériques", note: "", coef: 4},
                                {nom: "Traitement numérique du signal", note: "", coef: 4},
                                {nom: "Théorie de l'information", note: "", coef: 3},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais S6", note: "", coef: 1.5},
                                {nom: "LV2  S6", note: "", coef: 1},
                                {nom: "Activités Physiques Sportives et artistiques (S6)", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 2/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "Matmeca": {
                            "Mécanique II": [
                                {nom: "Travaux pratiques de Mécanique S6", note: "", coef: 2},
                                {nom: "Mécanique des Milieux Continus et Déformables - Fluides - II", note: "", coef: 2.5},
                                {nom: "Dynamique des Structures Mécaniques", note: "", coef: 2.5},
                                {nom: "Mécanique des Milieux Continus Déformables - Résistance des Matériaux - II", note: "", coef: 2},
                            ],
                            "Mathématiques II": [
                                {nom: "Intégration", note: "", coef: 3},
                                {nom: "Probabilité", note: "", coef: 3},
                            ],
                            "Calcul scientifique II": [
                                {nom: "Outils Numériques pour la Mécanique", note: "", coef: 5},
                                {nom: "Travail d'Etude et de Recherche", note: "", coef: 3},
                                {nom: "Calcul Scientifique en Fortran 90 - II", note: "", coef: 2},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais S6", note: "", coef: 1.5},
                                {nom: "LV2  S6", note: "", coef: 1},
                                {nom: "Activités Physiques Sportives et artistiques (S6)", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 2/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "Électronique": {
                            "Mathématiques": [
                                {nom: "Automatique 1 : Modélisation et Commande des Systèmes Dynamiques Continus", note: "", coef: 1.5},
                                {nom: "TP d'Automatique", note: "", coef: 1.5},
                                {nom: "Techniques mathématiques pour l'ingénieur 2", note: "", coef: 3},
                                {nom: "Traitement du signal continu", note: "", coef: 2},
                            ],
                            "Electronique 2": [
                                {nom: "Interconnexions et intégrité des signaux", note: "", coef: 1.5},
                                {nom: "Projet d'électronique analogique", note: "", coef: 3.5},
                                {nom: "Introduction à l'Electronique Intégrée", note: "", coef: 3},
                            ],
                            "Numérique/Informatique": [
                                {nom: "Projet Numérique", note: "", coef: 1},
                                {nom: "Projet micro-processeur", note: "", coef: 1.5},
                                {nom: "Projet d'informatique (C)", note: "", coef: 1.5},
                            ],
                            "Energie et instrumentation": [
                                {nom: "Introduction à la gestion de l'énergie", note: "", coef: 2},
                                {nom: "Mesures", note: "", coef: 1},
                                {nom: "TP Instrumentation et mesures", note: "", coef: 2},
                            ],
                            "Langues et culture de l'ingénieur": [
                                {nom: "LV1 Anglais S6", note: "", coef: 1.5},
                                {nom: "LV2  S6", note: "", coef: 1},
                                {nom: "Activités Physiques Sportives et artistiques (S6)", note: "", coef: 1},
                                {nom: "Développement durable et responsabilité sociétale : Partie 2/2", note: "", coef: 0.5},
                                {nom: "Intégrer l'entreprise", note: "", coef: 1}
                            ]
                        },
                        "SEE": {
                            "Conception Électronique": [
                                {nom: "Systèmes Linéaires", note: "", coef: 0.25},
                                {nom: "Fonctions analogiques", note: "", coef: 0.4},
                                {nom: "Conception numérique", note: "", coef: 0.35},
                            ],
                            "Outils Informatiques": [
                                {nom: "Architecture des micro-contrôleurs", note: "", coef: 0.4},
                                {nom: "Projet micro-contrôleur en langage C", note: "", coef: 0.25},
                                {nom: "Langage C pour l'électronique", note: "", coef: 0.35},
                            ],
                            "Technologies de fabrication": [
                                {nom: "Technologies imprimées", note: "", coef: 0.35},
                                {nom: "Technologies nano et micro-électroniques", note: "", coef: 0.35},
                                {nom: "Capteurs pour l'embarqué", note: "", coef: 0.3},
                            ],
                            "Outils mathématiques": [
                                {nom: "Mathématiques pour l'ingénieur", note: "", coef: 0.2},
                                {nom: "Traitement numérique du signal", note: "", coef: 0.3},
                                {nom: "Communications Numériques", note: "", coef: 0.3},
                                {nom: "Communications analogiques", note: "", coef: 0.2},
                            ],
                            "Culture de l'entreprise et langue anglaise - S06": [
                                {nom: "Anglais - S06", note: "", coef: 0.3},
                                {nom: "Performance en entreprise", note: "", coef: 0.35},
                                {nom: "Relations en l'entreprise", note: "", coef: 0.35},
                            ],
                            "Compétences acquises en entreprise et rapport technique": [
                                {nom: "Intégration des connaissances et des compétences - 1ère année", note: "", coef: 0.5},
                                {nom: "Rapport technique", note: "", coef: 0.5}
                            ]
                        },
                        "RI": {
                            "Sciences de l'ingénieur 2": [
                                {nom: "Probabilités et statistiques", note: "", coef: 0.3},
                                {nom: "Mathématiques de l'ingénieur", note: "", coef: 0.4},
                                {nom: "Physique des technologies de l'information", note: "", coef: 0.3},
                            ],
                            "Internet et Réseaux": [
                                {nom: "Bases de données", note: "", coef: 0.25},
                                {nom: "Projet bases de données et internet", note: "", coef: 0.25},
                                {nom: "HTML et javascript", note: "", coef: 0.25},
                                {nom: "Architecture TCP/IP 2", note: "", coef: 0.25},
                            ],
                            "Informatique 2": [
                                {nom: "Architecture des ordinateurs", note: "", coef: 0.25},
                                {nom: "Projet algorithmique et programmation en C", note: "", coef: 0.2},
                                {nom: "Outils pour la progammation C", note: "", coef: 0.15},
                                {nom: "Analyse du cycle de vie", note: "", coef: 0.15},
                                {nom: "Algorithmique des graphes", note: "", coef: 0.25},
                            ],
                            "Culture de l'entreprise et langue anglaise - S06": [
                                {nom: "Anglais - S06", note: "", coef: 0.3},
                                {nom: "Performance en entreprise", note: "", coef: 0.35},
                                {nom: "Relations en l'entreprise", note: "", coef: 0.35},
                            ],
                            "Compétences développées en entreprise - première année": [
                                {nom: "Rapport technique", note: "", coef: 0},
                                {nom: "Intégration des connaissances et des compétences - première année", note: "", coef: 0}
                            ]
                        }
                    },
                    "Semestre 7": {
                    },
                    "Semestre 8": {
                    },
                    "Semestre 9": {
                    },
                    "Semestre 10": {  
                    }
                }
            },
            watch:{
                save_data(newState) {
                    if (newState) {
                        localStorage.semestre = this.getSelectedSemestre();
                        if (this.getFiliereApparente() != '') {
                            localStorage.filiere_apparente = this.getFiliereApparente();
                        }
                        if (this.getFiliereUtilisateur() != '') {
                            localStorage.filiere_utilisateur = this.getFiliereUtilisateur();
                        }
                    } else {
                        localStorage.clear();
                    }
                    localStorage.save_data = newState;
                    localStorage.semestre = this.getSelectedSemestre();
                },
                semestre_selectionne(newSemestre) {
                    if (newSemestre != 'Total') {
                        if (this.getFilieres().includes(this.getFiliereUtilisateur())) {
                            this.setFiliereApparente(this.getFiliereUtilisateur())
                        } else if (this.clean(this.getFiliereApparente()) in this.equiv_filieres) {
                            this.setFiliereApparente(this.equiv_filieres[this.clean(this.getFiliereApparente())]);
                        }
                    }
                    localStorage.semestre = newSemestre;
                },
                filiere_utilisateur(newFiliere) {
                    if (this.saveDataStatus()) {
                        localStorage.filiere_utilisateur = newFiliere;
                    }
                },
                filiere_apparente(newFiliere) {
                    if (newFiliere !== this.getFiliereUtilisateur()) {
                        if (this.equiv_filieres[this.clean(this.getFiliereUtilisateur())] !== newFiliere && this.all_filieres.includes(newFiliere)) {
                            this.setFiliereUtilisateur(newFiliere)
                        }
                    }
                    if (this.saveDataStatus()) {
                        localStorage.filiere_apparente = newFiliere;
                    }
                }
            },
            mounted () {
                if (this.filiere_apparente === '' && this.all_filieres.includes(this.filiere_utilisateur)) {
                    this.filiere_apparente = this.filiere_utilisateur
                }
                else if (this.filiere_utilisateur === '' && this.all_filieres.includes(this.filiere_apparente)) {
                    this.filiere_utilisateur = this.filiere_apparente
                }
                for (let i = 5; i < 11; i++) {
                    if (localStorage.getItem(`Semestre ${i}`)) {
                        try {
                            this[`Semestre ${i}`] = JSON.parse(localStorage.getItem(`Semestre ${i}`));
                        } catch(e) {
                            localStorage.removeItem(`semestre${i}`);
                        }
                    }
                }
                if (localStorage.getItem('total')) {
                        try {
                            this.total = JSON.parse(localStorage.getItem('total'));
                        } catch(e) {
                            localStorage.removeItem('total');
                        }
                    }
                this.init_done = true;
            },
            methods: {
                saveDataStatus() {
                    return this.save_data
                },
                valideSaisieNote(note) {
                    return note >= 0 && note <= 20;
                },
                valideNote(note) {
                    return note!=='' && this.valideSaisieNote(note);
                },
                validePtsSport(note) {
                    return note >= 0 && note <= 5;
                },
                shareClass() {
                    if (!('share' in navigator)) {
                        return 'unsharable';
                    }
                },
                semestreNameClean() {
                    return this.semestre_selectionne.toLowerCase().replace(' ', '');
                },
                getFilieres() {
                    return this.filieres;
                },
                getSelectedSemestre() {
                    return this.semestre_selectionne;
                },
                semData() {
                    return this[this.semestre_selectionne];
                },
                getPtsSport(semestre) {
                    if (semestre == 1) {
                        return this.points_sport1;
                    } else if (semestre == 2) {
                        return this.points_sport2;
                    } else if (semestre == 3) {
                        return this.points_sport3;
                    } else if (semestre == 4) {
                        return this.points_sport4;
                    }
                },
                getFiliereUtilisateur() {
                    return this.filiere_utilisateur;
                },
                setFiliereUtilisateur(newFiliere) {
                    this.filiere_utilisateur = newFiliere;
                },
                getFiliereApparente() {
                    return this.filiere_apparente;
                },
                setFiliereApparente(newFiliere) {
                    this.filiere_apparente = newFiliere;
                },
                saveData() {
                    if (this.save_data) {
                        localStorage.setItem(this.semestre_selectionne, JSON.stringify(this[this.semestre_selectionne]));
                    }
                },
                valideInputClass(note) {
                    if (this.valideSaisieNote(note)) {
                        return 'valide'
                    }
                    return 'invalide'
                },
                checkRemplissage(semestre) {
                    for (cat in this[semestre]) {
                        if (semestre == 'total') {
                            if (this[semestre][cat]['note'] !== '') {
                                return true;
                            }
                        }
                        else {
                            if (cat == 'filieres') {
                                    continue;
                            }
                            for (e in this[semestre][cat]) {
                                if ('nom' in this[semestre][cat][e]) {
                                    if (this[semestre][cat][e]['note'] !== '') {
                                        return true;
                                    }
                                }
                                else {
                                    for (se in this[semestre][cat][e]) {
                                        if (this[semestre][cat][e][se]['note'] !== '') {
                                            return true;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    return false;
                },
                calculMoyenneUe(matiereList) {
                    tot_notes = 0;
                    tot_coef = 0;
                    for (i in matiereList) {
                        let matiere = matiereList[i];
                        if (this.valideNote(matiere.note)) {
                            tot_notes += matiere.note * matiere.coef;
                            tot_coef += matiere.coef;
                        }
                    }
                    moyenne = tot_notes / tot_coef;
                    if (isNaN(moyenne)) {
                        return " - ";
                    }
                    moyenne = Math.round((moyenne)*100)/100;
                    if (moyenne > 20) {
                        moyenne = 20;
                    }
                    return moyenne;
                },
                calculMoyenne() {
                    if (this.init_done) {
                        if (this.checkRemplissage(this.semestre_selectionne)) {
                            this.saveData();
                        } else {
                            localStorage.removeItem(this.semestre_selectionne);
                        }
                    }
                    tot_notes = 0;
                    tot_coef = 0;
                    for (ue in this.semData()[this.filiere_apparente]) {
                        for (i in this.semData()[this.filiere_apparente][ue]) {
                            let matiere = this.semData()[this.filiere_apparente][ue][i];
                            if (this.valideNote(matiere.note)) {
                                tot_notes += matiere.note * matiere.coef;
                                tot_coef += matiere.coef;
                            }
                        }
                    }
                    moyenne = tot_notes / tot_coef;
                    this.moyenne = moyenne;
                    if (isNaN(moyenne)) {
                        return " - ";
                    }
                    moyenne = Math.round((moyenne)*100)/100;
                    if (moyenne > 20) {
                        moyenne = 20;
                    }
                    this.saveData()
                    return moyenne;
                },
                calculMoyenneAnnee(annee) {
                    if (this.init_done) {
                        if (this.checkRemplissage('total')) {
                            this.saveData();
                        } else {
                            localStorage.removeItem('total');
                        }
                    }
                    let somme_notes = 0
                    let somme_coefs = 0
                    for (i in this.total) {
                        if (this.valideNote(this.total[i].note) && (!annee || this.total[i].nom.endsWith(annee*2) || this.total[i].nom.endsWith(annee*2-1))) {
                            somme_notes += this.total[i].note
                            somme_coefs += 1
                        }
                    }
                    let moyenne = somme_notes / somme_coefs
                    if (isNaN(moyenne)) {
                        return " - ";
                    }
                    moyenne = Math.round((moyenne)*100)/100;
                    if (moyenne > 20) {
                        moyenne = 20;
                    }
                    return moyenne
                },
                clean(string) {
                    return string.toLowerCase().split(' ').join('-').split('é').join('e').split('è').join('e').split('ê').join('e').split('à').join('a');
                },
                emoji(note) {
                    if (note === '') {
                        return '';
                    }
                    if (note < 0.5) {
                        return '🥶';
                    }
                    if (note <= 1.8) {
                        return '🙈';
                    }
                    if (note <= 2.3) {
                        return '😶‍🌫️';
                    }
                    if (note <= 3.5) {
                        return '🫠';
                    }
                    if (note <= 5) {
                        return '🥲';
                    }
                    if (note <= 6.5) {
                        return '😟';
                    }
                    if (note < 8) {
                        return '☹️';
                    }
                    if (note < 9.5) {
                        return '🙁';
                    }
                    if (note < 9.95) {
                        return '😐';
                    }
                    if (note <= 10) {
                        return '👀';
                    }
                    if (note < 11) {
                        return '🙂';
                    }
                    if (note <= 12.5) {
                        return '😃';
                    }
                    if (note <= 13.8) {
                        return '😁';
                    }
                    if (note <= 14.4) {
                        return '🤩';
                    }
                    if (note <= 15.5) {
                        return '🥳';
                    }
                    if (note <= 16.5) {
                        return '🤪';
                    }
                    if (note <= 18) {
                        return '🥵';
                    }
                    if (note <= 19.5) {
                        return '🤯';
                    }
                    if (note < 19.99) {
                        return '🐐';
                    }
                    if (note <= 20) {
                        return '🗿🍷';
                    }
                    return '';
                },
                shareMoyenne() {
                    if (!('share' in navigator)) {
                        return;
                    }
                    moyenne = this.calculMoyenne()
                    let shareData = {
                        title: 'Moyenne ENSEIRB',
                        url: window.location.origin
                    }
                    if (moyenne != '' && moyenne != ' - ' && moyenne != '-') {
                        shareData.text = `J'ai ${moyenne} de moyenne générale au ${this.semestre_selectionne.toLowerCase()}\nToi aussi calcule ta moyenne sur ce site`;
                    }
                    navigator.share(shareData);
                }
            }
        })
        app.mount('#page')
    </script>
    <!-- <script>
        window.addEventListener('load', () => {
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('/serviceWorker.js');
            }
        });
    </script> -->
</body>
</html>